@charset "UTF-8";

//about-row
.l-about {
  padding: 60px 0;

  background-color: $mainColor;

  color: #fff;
  text-align: center;

  .l-row {
    position: relative;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;

    color: $blue-dark;
    @include font-size(4.8);
  }
  .icon--info {
    top: 3px;

    @include font-size(4.1);
  }
  img {
    @include border-radius(50%);
  }
}