@charset "UTF-8";

//about-row
.l-about {
  background-color: $mainColor;
  padding: 60px 0;
  text-align: center;
  color: #fff;

  h2 {
    font-size: 24px;
  }
  .l-row {
    position: relative;
  }
  .close {
    font-size: 48px;
    color: #0e5c83;
    position: absolute;
    top: 0;
    right: 0;
  }
  img {
    @include border-radius(50%);
  }
}