ul, ol {
  margin-left: 0;
  padding-left: 15px;
}
a {
  color: $mainColor;
  text-decoration: none;
  
  &:hover {
    color: $contrastColor;
  }
}
strong {
  font-weight: 500;
}
blockquote {
  font-size: 20px;
  font-style: italic;
  position: relative;
  margin-left: 50px;
  margin-right: 0;
  
  &:before {
    content: '"';
    font-size: 78px;
    position: absolute;
    left: -50px;
    top: 20px;
  }
}

p {
  margin: 10px 0 0;
}

h2, h3, h4 {
  margin: 25px 0 0;
}