/*=== HELPER ===*/

//clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

//center elements
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

//floating element right
.right, .last {
  float: right;
}