  /*=== MIXINS ===*/

// fonts
@mixin font-size($value) { 
  font-size: $value+px;
  font-size: ($value / 16)+rem;
}

//css3 
@mixin box-shadow($val) {
  -webkit-box-shadow: $val;
  -moz-box-shadow: $val;
  box-shadow: $val;
}
@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}
@mixin box-sizing($type) {
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
  box-sizing: $type;
}
@mixin background-clip($type) {
  -webkit-background-clip: $type;
  -moz-background-clip: $type;
  background-clip: $type;
}

//grid
@mixin cols($col) {
  .col-#{$col} {
    width: ($gridColWidth*$col)+($gridGutterWidth*($col - 1));
    margin-left: $gridGutterWidth;
  }
}

//clearfix
@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

//list-margin
@mixin listing($selector, $val, $boolean) {
  #{$selector} {
    @if $boolean {
      @include clearfix;
    } @else {

    }
    li {
      float: left;
      margin-left: $val+px;

      &:first-child {
        margin-left: 0;
      }
    }
    @content;
  }
}

//include font-icon
@mixin font-icon($icon, $size: 13, $selector: '&') {
  #{$selector}:before {
    font-family: 'Stiebel-Toolbox';
    font-weight: normal;
    content: $icon;
    @include font-size($size);
    -webkit-font-smoothing: antialiased;
    
    @content;
  }
}