@charset "UTF-8";

.m-button {
  padding: 10px 25px;
  @include border-radius(3px);
  background-color: $mainColor;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.m-button--single-icon {
  padding: 10px 12px;
  background-color: $contrastColor;

  span {
    vertical-align: top;
  }
}