@charset "UTF-8";

.m-list {
  margin-top: 20px;
  position: relative;

  a {
    color: $white;
  }

  li {
    display: inline-block;
    margin-left: 10px;

    a {
      @include font-size(3.2);

      &:hover {
        opacity: .5;
      }
    }

    &:first-child {
      margin-left: 0;
      vertical-align: 4px;

      @include font-size(1.8);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}