@charset "UTF-8";

.m-tooltip {
  position: relative;

  .m-tooltip__content {
    display: none;
    left: 0;
    min-width: 75px;
    padding: 10px;
    position: absolute;
    top: -60px;

    background-color: $contrastColor;
  }
  .m-tooltip__content--social {
    a {
      @include font-size(1.8);
    }
  }
}