.btn {
  background-color: $mainColor;
  @include border-radius(3px);
  padding: 10px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  
  &:hover {
    background-color: darken($mainColor, 5);
    color: #fff;
  }
}

.btn-single-icon {
  background-color: $contrastColor;
  padding: 10px 12px;
  
  span {
    vertical-align: top;
  }

  &:hover {
    background-color: darken($contrastColor, 5);
  }
}

.cta-bar {
  .btn {
    display: inline-block;
    margin-left: 10px;
    
    &:first-of-type {
      margin-left: 0;
    }
  }
}