.tooltip {
  position: relative;
  
  .tooltip-content {
    display: none;
    position: absolute;
    top: -60px;
    left: 0;
    padding: 10px;
    min-width: 75px;
    background-color: $contrastColor;
    
    &.social {
      a {
      font-size: 18px;
      }
    }
  }
  &:hover {
    .tooltip-content {
      display: block;
    }
  }
}