/**
 * Author: Tim Hartmann
 * Beschreibung: Styling for the landinpage "aero"
 * Version?: 1.1
 */
/*=== VARIABLES ===*/
/*=== MIXINS ===*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p,
pre {
  margin: 1em 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=== HELPER ===*/
.group:after {
  content: "";
  display: table;
  clear: both; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.right, .last {
  float: right; }

@font-face {
  font-family: 'Simply';
  src: url("fonts/Simply.eot");
  src: url("fonts/Simply.eot?#iefix") format("embedded-opentype"), url("fonts/Simply.woff") format("woff"), url("fonts/Simply.ttf") format("truetype"), url("fonts/Simply.svg#Simply") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: 'Simply';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-facebook-sign, .icon-googleplus-sign, .icon-twitter-sign, .icon-share, .icon-drawer, .icon-remove-sign, .icon-info {
  font-family: 'Simply';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-googleplus-sign:before {
  content: "\f0d4"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-share:before {
  content: "\f045"; }

.icon-drawer:before {
  content: "\e000"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-info:before {
  content: "\e001";
  font-size: 41px;
  vertical-align: 3px; }

.wrapper {
  background-color: #f3f6ff;
  -webkit-font-smoothing: antialiased; }

.row {
  max-width: 960px;
  margin: 0 auto; }

.top {
  background-color: #2a3e50;
  padding: 20px 0;
  color: #fff; }

.about {
  background-color: #209add;
  padding: 60px 0;
  text-align: center;
  color: #fff; }
  .about h2 {
    font-size: 24px; }
  .about .row {
    position: relative; }
  .about .close {
    font-size: 48px;
    color: #0e5c83;
    position: absolute;
    top: 0;
    right: 0; }
  .about img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%; }

section[role="main"] {
  margin-top: -20px;
  max-width: 660px; }

.bottom {
  color: #969fb5;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px; }
  .bottom p {
    margin: 0; }

.logo {
  float: left;
  margin-top: 17px; }
  .logo a {
    color: #fff; }
    .logo a:hover {
      color: #fff;
      opacity: .7; }

.social {
  float: right;
  position: relative;
  margin-top: 20px; }
  .social a {
    color: #fff; }
    .social a:hover {
      color: #fff; }
  .social li {
    display: inline-block;
    margin-left: 10px; }
    .social li a {
      font-size: 32px; }
      .social li a:hover {
        opacity: .5; }
    .social li:first-child {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      vertical-align: 4px;
      margin-left: 0; }

p.impressum {
  font-size: 12px;
  margin-top: 7px; }

ul, ol {
  margin-left: 0;
  padding-left: 15px; }

a {
  color: #209add;
  text-decoration: none; }
  a:hover {
    color: #2a3e50; }

strong {
  font-weight: 500; }

blockquote {
  font-size: 20px;
  font-style: italic;
  position: relative;
  margin-left: 50px;
  margin-right: 0; }
  blockquote:before {
    content: '"';
    font-size: 78px;
    position: absolute;
    left: -50px;
    top: 20px; }

p {
  margin: 10px 0 0; }

h2, h3, h4 {
  margin: 25px 0 0; }

article {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 40px 0 0;
  color: #808081;
  margin-top: 25px; }
  article:first-of-type {
    margin-top: 0; }
  article .thumb {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block; }
  article .matter {
    font-size: 16px;
    line-height: 22px;
    padding: 0 40px;
    margin-bottom: 40px; }
  article footer {
    background-color: #f8f9fa;
    padding: 20px 40px; }
    article footer time {
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      line-height: 40px; }
    article footer .cta-bar {
      float: right; }

.blog.article article .matter time {
  margin-bottom: 20px;
  display: block; }

.btn {
  background-color: #209add;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold; }
  .btn:hover {
    background-color: #1d8ac7;
    color: #fff; }

.btn-single-icon {
  background-color: #2a3e50;
  padding: 10px 12px; }
  .btn-single-icon span {
    vertical-align: top; }
  .btn-single-icon:hover {
    background-color: #21313f; }

.cta-bar .btn {
  display: inline-block;
  margin-left: 10px; }
  .cta-bar .btn:first-of-type {
    margin-left: 0; }

.tooltip {
  position: relative; }
  .tooltip .tooltip-content {
    display: none;
    position: absolute;
    top: -60px;
    left: 0;
    padding: 10px;
    min-width: 75px;
    background-color: #2a3e50; }
    .tooltip .tooltip-content.social a {
      font-size: 18px; }
  .tooltip:hover .tooltip-content {
    display: block; }
