@charset "UTF-8";

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  font-size: 62.5%;
}
body {
  font-family: $baseFontFamily;
  @include font-size(1.4);
  line-height: 1.5;
}

ul, ol {
  margin-left: 0;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }
}
a {
  color: $mainColor;
  text-decoration: none;
}
strong {
  font-weight: 500;
}
blockquote {
  margin: 2em 0 2em 2em;
  position: relative;

  @include font-size(2);
  font-style: italic;

  &:before {
    content: '"';
    left: -50px;
    position: absolute;
    top: 20px;

    @include font-size(7.8);
  }
}

p {
  margin: 10px 0 0;
}

main {
  margin: -20px auto 0;
  max-width: 660px;
}