@charset "UTF-8";

body {
  font-family: $baseFontFamily;
}

ul, ol {
  margin-left: 0;
  padding-left: 15px;
}
a {
  color: $mainColor;
  text-decoration: none;
}
strong {
  font-weight: 500;
}
blockquote {
  margin-left: 50px;
  margin-right: 0;
  position: relative;
  font-size: 20px;
  font-style: italic;

  &:before {
    content: '"';
    left: -50px;
    position: absolute;
    top: 20px;
    font-size: 78px;
  }
}

p {
  margin: 10px 0 0;
}

h2, h3, h4 {
  margin: 25px 0 0;
}

main {
  margin: -20px auto 0;
  max-width: 660px;
}